:root {
    font: 20px/1.2 "Roboto", sans-serif; /* Sets the base font family and size */
}

body,
body  * {
    margin:          unset;
    box-sizing:      unset;
    padding:         unset;
    font-size:       unset;
    color:           unset;
    text-decoration: unset;


}